header{
    position: static;    
}

header #customized-logo a:hover{
    color: transparent;
}

body{
background: linear-gradient(40deg, #bebeb4,#d1d6bd);
color: rgb(98, 99, 96);
}
 
main ul{
   width: 1200px; 
   margin: 0 auto 40px auto;
   display: grid;
   grid-template-columns: 1fr 1fr;    
   gap: 20px 20px; 
}

main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content{
    margin: 0;
}


li:nth-of-type(3){
    grid-column: 1 /span 2;/* start at column 1 and should span across 2 columns*/
}