 /* hero content */

#hero{
    height: 800px;
    background-image: url(/images/);
    background-position: center;
    background-size: contain;

}
#hero-content{
    width: 900px; 
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 150px;
    display: flex;
}

h6{
    padding-top:3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(65, 182, 94);
    
;
}

#hero-content p{
    font-size:4rem;
    font-family:'Fira Sans', sans-serif;   
    font-weight: 700;
    color: rgb(64, 190, 94);
}

/*#software{
    position: relative;
}

#software:hover{
    /* color: rgb(205, 217, 228); 
    transform: scale(1.20);
    color: rgb(218, 225, 231);
   
}

#Hardware{  
    position: relative;
}

#Hardware:hover{    
    transform: scale(1.20);
    color: rgb(218, 225, 231);   
} */





/* image edits */
 /* main img{
    text-align: center; 
    z-index:3; 
    position: absolute;
    bottom: 0;    
    left: auto;
    right: auto;
    z-index: 3;
    height: 80%;
    
}  */

/* main img{
    border-radius: 10px;
} */


