*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    box-sizing: border-box;
}

#logo img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
 
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;  
    padding: 20px;     
}

header ul li{
    padding: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight:400;
    font-size: 1.15rem;
    color: rgb(220, 245, 224);
}

.nav-items:hover{
    transform: scale(1.20);
}

a{
    text-decoration: none;    
    background-color: transparent;
    cursor: pointer;
    transition:400ms;
    color: antiquewhite;
}

a:hover{
    color: rgb(16, 24, 18);    
}

#intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 0;

}

body main{
    display: flex;
    justify-content: space-between;

}

h6{
    padding-top:3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(65, 182, 94);
    padding: 24px;
    margin: 20px;
}

h1{
    font-size:80px;
    font-family:'Fira Sans', sans-serif;   
    font-weight: 700;
    color: rgb(64, 190, 94);
}

#software{
    position: relative;
}

#software:hover{
    /* color: rgb(205, 217, 228); */
    transform: scale(1.20);
    color: rgb(218, 225, 231);
   
}

#Hardware{  
    position: relative;
}

#Hardware:hover{    
    transform: scale(1.20);
    color: rgb(218, 225, 231);   
}





/* image edits */
 main img{
    text-align: center; 
    z-index:3; 
    position: absolute;
    bottom: 0;    
    left: auto;
    right: auto;
    z-index: 3;
    height: 80%;
    
} 

/* main img{
    border-radius: 10px;
} */


